[Desktop Entry]
Type=Application
Name=Ashore
Name[zh_CN]=Ashore
Version = 0.7.66
GenericName=Download manager
GenericName[zh_CN]=下载管理器
GenericName[zh_TW]=下载管理器
Comment=download manager
Comment[zh_CN]=下载管理器
Comment[zh_TW]=下载管理器
Icon=/opt/Ashore/icon.png
Exec=/opt/Ashore/Ashore
Terminal=false
Categories=Download;Manager;
Keywords=download;aria2;下载;Ashore;
